body {
    margin: 0;
}

/******** MAIN PAGE STYLE ********/
#container img {
    position: relative;
    width: 100%;
    padding-left: 0;
    height: auto;
    display: block;
}

/******** TIPS PAGE STYLE ********/
#good-to-know {
    background-color: #7F9183;
    position: relative;
}

#tips-text {
    text-align: justify;
    margin-left: 400px;
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    background-color: white;
    width: 980px;
    padding: 30px;
}

em {
    font-style: normal;
}

#pics .tips{
    float: left;
    margin-left: 22px;
    margin-top: 19px;
    height: auto;
    border: 4px solid black;
    width: 289px;
    display: block;
}

#pics .hki{
    float: left;
    margin-left: 22px;
    margin-top: 23px;
    height: auto;
    border: 4px solid black;
    width: 289px;
    display: block;
}

#pics li {
    list-style: none;
    max-width: 300px;
}

/******** NAVBAR STYLE ********/
#home {
    padding-top: 0;
    height: 30px;
    width: 30px;
}
#navbar {
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: white;}
#navbar ul {
    position: absolute;
    display: table;
    list-style: none;
    width: 800px;
    margin: 0 auto;
    padding: 0; }
#navbar li {
    display: inline-block;
    float: left; }
#navbar li a {
    display: block;
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 88px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #023e8a;
    border-right: 1px solid #ccc; }
#navbar li:first-child a {
    border-left: 1px solid #ccc; }
#navbar li a:hover {
    color: #023e8a;
    background-color: lightgoldenrodyellow; }

/****************EVENTS STYLE**********************/
#events #map {
    height: 400px;
    width: 600px;
}







