body {
    margin: 0;
}

/******** MAIN PAGE STYLE ********/
#container img {
    position: relative;
    width: 100%;
    padding-left: 0;
    height: auto;
    display: block;
}

/******** TIPS PAGE STYLE ********/
#good-to-know {
    background-color: #7F9183;
    position: relative;
}

#tips-text {
    text-align: justify;
    margin-left: 400px;
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    background-color: white;
    width: 980px;
    padding: 30px;
}

em {
    font-style: normal;
}

#pics .tips{
    float: left;
    margin-left: 22px;
    margin-top: 19px;
    height: auto;
    border: 4px solid black;
    width: 289px;

}

#pics .hki{
    float: left;
    margin-left: 22px;
    margin-top: 23px;
    height: auto;
    border: 4px solid black;
    width: 289px;

}

#pics li {
    list-style: none;
    max-width: 300px;
}

/******** LINKS PAGE STYLE ********/
#links {
    background-color: #7F9183;
    position: relative;
}
.lnk{
    float: left;
    margin-left: 52px;
    margin-top: 28px;
    height: auto;
    border: 4px solid black;
    width: 289px;
}
#link {
    float: left;
    text-align: justify;
    margin-top: 35px;
    margin-left: 52px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    background-color: white;
    width: 30%;
    padding: 20px 50px 83px 20px;
}
.hki1 {
    width: 54%;
    margin-top: 28px;
    float: right;
    margin-right: 80px;
}

/******** NAVBAR STYLE ********/
#home {
    padding-top: 0;
    height: 30px;
    width: 30px;
}
#navbar {
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 55px;
    background-color: white;
}
#navbar ul {
    position: absolute;
    display: table;
    list-style: none;
    width: 800px;
    margin: 0 auto;
    padding: 0; }
#navbar li {
    display: inline-block;
    float: left; }
#navbar li a {
    font-size: 16px;
    display: block;
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 88px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #023e8a;
    border-right: 1px solid #ccc; }
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropBTN {
    padding: 10px 88px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #023e8a;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.dropdown-content a {
    float: none;
    color: #023e8a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.navbar a:hover, .dropdown:hover .dropBTN {
    background-color: lightgoldenrodyellow;
}
.navbar a:hover, .dropdown-content a:hover {
    background-color: lightgoldenrodyellow;
}
#navbar li:first-child a {
    border-left: 1px solid #ccc; }
#navbar li a:hover {
    color: #023e8a;
    background-color: lightgoldenrodyellow; }
.navbar .icon {
    display: none;
}

/********EVENTS STYLE********/
#events {
    background-color: #7F9183;
    position: relative;
}
#events #map {
    height: 400px;
    width: 600px;
    text-align: justify;
    margin-left: 900px;
}
#events article {
    background: white;
    margin: 10px;
    padding: 5px;
}
#events p {
    margin: 5px;
}
#events h3 {
    margin: 10px;
    margin-left: 5px;
}
#events a {
    margin: 5px;
}
.evt {
    float: left;
    margin-left: 22px;
    margin-top: 19px;
    height: auto;
    border: 4px solid black;
    width: 289px;

}
#events #tiedot{
    float: left;
    margin-top: 20px;
}


/********MEDIA QUERY********/
/*Keskikokoiselle näytölle*/
@media only screen and (min-width: 600px) and (max-width: 1500px) {
    #navbar li {
        width: 100%;
        position: center;
        background-color: white;
    }
    #navbar li a {
        font-size: 13px;
    }
    .dropdown .dropBTN {
        display: none;
    }
    #pics .tips {
        float: top;
        margin-top: 30px;
    }
    #pics .hki {
        float: bottom;
    }
    #tips-text {
        position: center;
        float: bottom;
        margin-right: 50px;
        margin-top: 180px;
        width: auto;
    }
    .lnk {
        float: top;
        position: center;
        display: block;
        margin-left: 25%;
    }
    .hki1 {
        position: absolute;
        display: block;
        top: 99%;
        margin-left: 25%;
        padding-bottom: 40px;
    }
    #link {
        float: left;
        position: center;
        margin-left: 40px;
        margin-right: 40px;
        width: auto;
    }
}
/*Pienelle näytölle*/
@media only screen and (max-width: 600px) {
    #navbar li {
        width: 100%;
        position: center;
        background-color: white;
    }
    #navbar li a {
        font-size: 13px;
    }
    .dropdown .dropBTN {
        display: none;
    }
    #tips-text {
        float: left;
        position: center;
        margin-left: 40px;
        margin-right: 40px;
        width: auto;
    }
    #pics .tips {
        float: top;
        position: center;
        display: block;
        margin-left: 65px;
    }
    #pics .hki {
        position: absolute;
        display: block;
        top: 99%;
        margin-left: 63px;
        margin-bottom: 40px;
    }
    .lnk {
        float: top;
        position: center;
        display: block;
        margin-left: 90px;
    }
    .hki1 {
        position: absolute;
        display: block;
        top: 99%;
        margin-left: 25%;
        padding-bottom: 40px;
    }
    #link {
        float: left;
        position: center;
        margin-left: 40px;
        margin-right: 40px;
        width: auto;
    }
}
/*
@media only screen and (min-width: 600px) and (max-width: 1500px) {
    #navbar li {
        width: 50%;
        float: none;
    }
    .dropdown .dropBTN {
        display: none;
    }
    #container img {
        position: relative;
        float: right;
        width: 50%;
        padding-left: 0;
        height: auto;
        display: block;
    }
}*/






